body {
    text-align: center;

}

img {
    width: 350px;
}

.title {
    font-size: 50px;
    font-weight: 800;
}

.buttons {
    display: flex;
    justify-content: center;

}

p {
    font-size: 30px;
    font-weight: 800;
    
}




button {
    height: 40px;
}


h1 {
    font-size: 50px;
    color: black;
}
body{
  background-color: #adaba9;
}

 
.story-opening{
   display:flex;
}


.buttons{
   display:flex;
}

.option-one-screen{
   display:none;
}

 .option-two-screen{
   display:none;
} 

.option-one-end{
   display:none;
}

.option-two-end{
   display:none;
}
.option-three-end{
   display:none;
}